<<<<<<< HEAD
class third p {
=======
div {
>>>>>>> 59e18eb56aa8673ed321e851363d46adf1c30925
	border: black;
	border-style: solid;
	margin: 5px;
}
#third p {
	display: none;
}
#fourth h1 {
	display: none;
}
<<<<<<< HEAD
=======
div {
	border: red;
	border-style: solid;
	margin: 5px;
	visibility: visible;
}
#second {
	visibility: hidden; }
#fifth {
	display: none; }
	p {
	display: none; }
#sixth div {
	visibility: hidden; }
	img {
	visibility: visible; }
>>>>>>> 59e18eb56aa8673ed321e851363d46adf1c30925
